@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ol-map {
  position: absolute !important;
  inset: 0 !important;
  height: 100% !important;
  width: 100% !important;
}